{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--top navigation bar-->

<nav class="navbar">
    <ul>
        <li class="navitem" id="home"><a href="/">Home</a></li>
        <li class="navitem" id="all"><a href="/all">All</a></li>
        <li class="navitem" id="search">
            <form method="" action="/search">
                <input type="text" name="key">
                <input type="image" src="{% static 'images/search.png' %}" alt="Submit" width="15px" height="15px">
            </form>
        </li>
        <li class="navitem" id="account" style="float: right;">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <img src="{% static 'images/account.png' %}" width="15px" height="15px" class="dropdown-button">
                <div class="dropdown-content">
                    <a href="/user/{{user.username}}">Your Blog</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </li>
    </ul>
</nav>

<!--account's blogs-->

<h1>{{author}}'s Blog</h1>
{% for b in blogs %}
<a href="/blog/{{b.id}}" style="text-decoration: none"><div class="blogpost">
    <h4 class="blogtitle">{{b.title}}</h4>
    <h5 class="bloginfo">{{b.author}}, {{b.date}}</h5>
    <p class="blogbodyall">{{b.body}}</p><br>
</div></a>
{% endfor %}